
/* Estilização para secção sobre nós */
*{
    margin: 0;
    padding: 0;
}
#sobre-nos{
    align-items: stretch;
    text-align: center;
}  
.titulo{
    padding-top: 10px;
    min-width: 100vw;
    min-height: 20vh;
    align-items: stretch;   
    background-color: rgb(255, 236, 202);
    background-size: cover;
   color: rgb(0, 0, 0);
}
.titulo p{
    padding-top: 5px;
}
.missao{
    min-width: 100vw;   
    background-color: rgb(226, 156, 43);
    padding-bottom: 10px;
}
.missao p{
    padding-top: 10px;
    padding-bottom: 5px;
}
.valores{
    min-width: 100vw;
    background-color: rgba(230, 230, 240, 0.801);
}.valores p{
    padding-top: 10px;
}
.valores strong{
    color: rgb(200, 69, 8);
}
