
/* Estilização para secção sobre nós */
#sobre-nos{
    align-items: stretch;
    text-align: center;
}  
.titulo{
    padding-top: 10px;
    min-width: 100vw;
    min-height: 20vh;
    align-items: stretch;   
    background-color: rgb(255, 236, 202);
    background-size: cover;
   color: rgb(0, 0, 0);
}
.titulo p{
    padding-top: 5px;
}
.missao{
    min-width: 100vw;   
    background-color: rgb(226, 156, 43);
}
.missao p{
    padding-top: 10px;
}
.valores{
    padding-top: 20px;
    min-width: 100vw;
    background-color: rgba(17, 20, 206, 0.801);
}.valores p{
    padding-top: 10px;
}
