*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.925);
}
header{
    width: 100%;
    padding-left: 40px;
    display: flex;
    background-color: rgb(248, 162, 50);
    color: rgba(245, 245, 245, 0.781);
    justify-content: space-between;
    align-items:center;
    height: 70px;
    font-size: 30px;
    box-shadow: 1px 1px 5px 5px grey;
}
nav{
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px grey;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    justify-content:end;
    align-items:center;
      
}
a{
    
    text-decoration: none;
    color: rgb(245, 245, 245);
    margin:  0 10px;
    
}
h1{
    color: rgb(128, 128, 128);
    padding: 50px;
    font-size: 40px;
    text-align: center;
}
img{
    box-shadow: 2px 2px 3px 2px rgb(247, 113, 4);
    margin: 20px 70px;
    width: 50%;
 
}
.foto2{
    width: 28%;
    box-shadow: 2px 2px 3px 2px rgb(247, 113, 4);
}
h3{
    color: rgb(128, 128, 128);
    padding: 50px;
    font-size: 40px;
    text-align: right;
    padding-right: 16%;

}
p{  
    background-color: rgb(253, 203, 128);
    width: 20%;
}
h4{
    color: rgb(128, 128, 128);
    padding: 50px;
    font-size: 40px;
    text-align: right;
    padding-right: 16%;
}
/*ESTILIZAÇÃO CONTATO*/

section{
    display: grid;
    background-color: rgb(253, 203, 128);
    
}
h4{
    border-radius: 15px;
    background-color: whitesmoke;
    width: 10%;
    margin-right: 0 0 50;
    margin-left: 20%;
    text-align: center;
    font: 18px;
    margin: 0px 0px 16px;
    color: grey;
    justify-content: center
    
}
p{
    text-align: center;
    margin: 0px 0px 8px;
    font-size: 18px;    
    
}




